/* Layout 5 , Job deck cards Mixins */

@mixin add-card($bg-color) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    color: #D7D9DC;
    background: $bg-color;
    text-align: center;
    box-shadow: 1px 1px 2px 1px #eceeef;
    border-radius: 4px;
    transition: all .3s ease;
}

@mixin add-bordered-card($border-style, $bg-color) {
    @include add-card($bg-color);

    box-shadow: none;
    border: 2px $border-style #D7D9DC;
}

// Divider line

@mixin divider($divider-width: 2px, $style: solid, $color: #f5f5f6) {
    padding-top: 20px;
    border-top: $divider-width $style $color;
}

/**
* Placeholder selector styles
*/

// Add button for Related files, Stakeholder, Cards, etc
%add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    color: $border-color;
    background: #ffffff;
    text-align: center;
    box-shadow: 1px 1px 2px 1px #eceeef;
    border-radius: 4px;
    transition: all .3s ease;
    text-decoration: none;

    &:hover, &:focus {
        box-shadow: 1px 1px 5px 3px #eceeef;
        color: $selected;
        i {
            color: $selected;
        }
    }
}

// Cleint details block
%client-details {
    margin-bottom: 20px;
    font-size: 12px;

    * {
        color: #a2a6b0;

        a {
            text-decoration: underline;
        }
    }

    .client-image {
        padding-right: 0;
        width: 72px;

        .client-image-container {
            width: 52px;
        }
    }

    .client-spec {
        margin-left: 10px;

        .row {
            display: flex;
            align-items: center;
        }

        .client-id {
            margin: 0;
            margin-right: 5px;
        }

        .client-name {
            font-size: 22px;
            font-weight: 600;
            color: #353F53;
        }

        .tags-list {
            display: flex;
            flex-wrap: wrap;

            .label {
                color: #fff;
                margin: 0 5px 5px 0;
                line-height: normal;
                border-radius: 7px;

                &.paused {
                    background: #9a9fa9;
                }
            }
        }
    }

    .more-menu {
        padding-right: 0px;

        i {
            font-size: 20px;
        }
    }
}

// Question container for Survey, Quiz, etc.,
%question-container {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: all .3s ease;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-items: center;

  .question-no {
    width: 60px;
    height: 35px;
    padding: 0;
    border: 1px solid #ecedef;
    border-radius: 4px;
    font-size: 14px;
    color: #353f53;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
  }

  .question {
    .question-middle {
      padding: 0 0 0 25px;
      font-size: 14px;
      color: #353f53;
      font-weight: 600;

      span.field {
        display: block;
        color: #9ea3ac;
        font-weight: 400;
      }

      a {
        color: #448AFF;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .cta-container {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: #fff;

    .cta {
      display: flex;
      -webkit-flex-flow: row wrap;
      align-items: center;
      height: 100%;
      position: absolute;
      right: 20px;

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          display: inline-block;
          margin-right: 20px;

          a {
            cursor: pointer;
            color: #DFE1E3;

            span {
              cursor: pointer;
            }

            &:hover, &:focus {
              color: #485262;
            }
          }
        }

        li:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &:hover, &:focus {
    border: 1px solid #448AFF;
    transition: all .3s ease;

    .cta-container {
      visibility: visible;
      opacity: 1;
      transition: all .3s ease;
    }
  }
}