.card-overview-main-page {
  @include clearfix;

  .main-panel-page-header {
    .right {
      .end-date-container {
        a.end-date {
          span.caret-drop {
            right: 15px !important;
          }
        }
      }
    }
  }

  .leftside-column-container {
    position: relative;
    padding: 0;
    min-height: 100vh;
    background: #FCFDFD;
    box-shadow: 2px 0px 5px 3px #edeff1;

    .leftside-column {
      position: fixed;
      width: 31.5%;
      overflow: hidden;
      min-height: 100%;
      height: 300px;
      background: #FCFDFD;
      z-index: 1;
      overflow-x: hidden;
      padding-top: 0;
      padding-right: 0;
      padding-left: 15px;
    }

    .assessment-list-container {
      ul {
        li {
          .assessment-box {
            .assessment-card {
              a {
                width: 58%;

                span.notification {
                  position: absolute;
                  background-color: $default-bg;
                  text-align: center;
                  border-radius: 15px;
                  min-width: 15px;
                  padding: 0 5px;
                  height: 15px;
                  font-size: 12px;
                  color: #fff;
                  font-weight: bold;
                  line-height: 20px;
                  top: -5px;
                  right: 0px;
                  border: 2px solid #fff;
                }
              }

              &.zindex {
                z-index: 9999;
              }

              .assessment-label.pending {
                color: $main;
              }

              a.assessment-cta {
                width: 5%;
                color: $highlight-02;
              }

              ul.dropdown-menu {
                margin-top: -15px;
                position: absolute;
                z-index: 9999;

                &:before {
                  right: 12px;
                  left: auto;
                }

                &:after {
                  right: 13px;
                  left: auto;
                }

                li {
                  padding-bottom: 0;

                  a {
                    width: 100%;
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .main-panel-container {
    .middle-column-container {
      .middle-column {}
    }

    .rightside-column-container {
      .rightside-column {
        .notify-action-container {
          background: $main;
          padding-top: 10px;
          padding-bottom: 15px;
          border-radius: 4px;

          .user-image {
            width: 40px;

            img {
              border: 2px solid #fff;
              max-width: 100%;
              width: 40px;
              height: 40px;
              object-fit: cover;
            }

            .card-user-empty {
              width: 40px;
              height: 40px;
              border: 2px solid #fff;
              border-radius: 50%;
            }
          }

          .notify-action-summary {
            color: #fff;
          }

          .notify-action-button {
            .btn-confirm {
              border: 1px solid #fff !important;

              &:hover {
                border: 1px solid $no !important;
              }
            }
          }
        }
      }
    }
  }
}
