/* Client-profile page styles */

#clientProfile {
  .main-container {
    /* tab panel container -->*/
    .tab-panel-container {
      .tab-panel {
        &.outside {
          padding: 16px 7px 0px 16px;

          .mCustomScrollBox {
            // overflow: visible;

            .mCSB_container {
              padding-right: 9px;
            }

            .mCSB_scrollTools {
              // margin-right: -10px;
           
            }
          }
        }

        .client-details, .client-actions {
          padding: 0;
        }

        .client-details {
          margin-bottom: 20px;
          font-size: 12px;

          * {
            color: #a2a6b0;

            a {
              text-decoration: underline;
            }
          }

          .client-image {
            .client-image-container {
              width: 52px;
            }
          }

          .client-spec {
            margin-left: 10px;

            .row {
              display: flex;
              align-items: center;
            }

            .client-id {
              margin: 0;
              margin-right: 5px;
            }

            .client-name {
              font-size: 22px;
              font-weight: 600;
              color: #353F53;
            }

            .tags-list {
              display: flex;
              flex-wrap: wrap;

              .label {
                color: #fff;
                margin: 0 5px 5px 0;
                line-height: normal;
                border-radius: 7px;

                &.paused {
                  background: #9a9fa9;
                }
              }
            }
          }

          .more-menu {
            padding-right: 0px;

            i {
              font-size: 20px;
            }
          }
        }

        .client-actions {
          &.divider {
            @include divider;
          }
          .action-list-container {
            *[class*='-title'] {
              font-weight: 600;
              color: #353F53;
              margin-bottom: 10px;
              text-transform: uppercase;
            }

            .action-list {
              .list-container {
                display: flex;
                flex-flow: column;
                padding: 0;
                margin: 0;

                li {
                  display: flex;

                  &:last-child {
                    margin-top: 15px;
                  }

                  a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    color: #D7D9DC;
                    background: #ffffff;
                    box-shadow: 1px 1px 2px 1px #eceeef;
                    border-radius: 4px;
                    transition: all .3s ease;

                    &.card {
                      padding: 15px;
                      margin-bottom: 10px;
                      border: none;
                      box-shadow: 1px 1px 2px 1px #eceeef;

                      &:hover {
                        box-shadow: 1px 1px 5px 3px #eceeef;
                      }

                      &.add-card {
                        justify-content: center;
                      }
                    }

                    .action-icon {
                      margin-right: 10px;
                      width: 24px;
                      font-size: 24px;
                    }

                    .action-name {
                      font-size: 14px;
                      margin: 0;
                      color: #353F53;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
          }
        }
      }


    }

    /* tab panel container <--*/
    /* main panel container -->*/
    .main-panel-container {
      .data-container {
        padding: 25px;

        .card {
          margin-bottom: 15px;

          &[class*='container'] {
            padding: 20px;

            a {
              font-size: 12px;
              color: #a2a6b0;
              text-decoration: underline;

              &[class*='add'] {}

              &.source, &.external-website-link, &.morelink {
                color: #448aff;
              }

              &.chosen-single {
                text-decoration: none;
              }

              &:hover {
                text-decoration: none;
              }
            }

            .title {
              color: #353f53;
              font-size: 14px;
              font-weight: 600;
              margin: 0;
              padding: 0;
              text-transform: uppercase;
            }

            .overview {
              &, & p {
                font-size: 14px;
              }

              p:first-of-type {
                margin-top: 10px;
              }
            }

            .chosen-container {
              .chosen-single {
                .chose-image-small {
                  margin: 0 13px 0 0;
                }
              }

              .chosen-drop {
                .chosen-search {}

                .chosen-results {
                  .active-result {
                    &.result-selected {}
                  }
                }
              }
            }
          }

          &.sector-container {}

          &.annual-turnover-container {
            .annual-turnover {
              font-size: 20px;
              font-weight: 600;

              span {
                font-size: 12px;
                font-weight: 400;
              }
            }
          }

          &.address-container {
            .address {
              .client-country {
                margin-bottom: 15px;
              }

              .client-address {}
            }
          }

          &.external-links-container {
            .external-links {
              .website-links {
                ul {
                  padding-left: 15px;
                  list-style-type: none;

                  li {
                    a {}
                  }
                }
              }

              .socialmedia-links {
                ul {
                  padding-left: 15px;
                  list-style-type: none;
                  margin-bottom: 0;

                  li {
                    display: flex;
                    width: 40px;
                    margin-right: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }

    /* main panel container <--   */
  }
}

/* modal window styles*/