/* Contributors template CSS Starts */
.layout-3.wp-app.contributors {
    .page-wrap {
        .main-panel-wrap {
            .main-panel {
                .main-panel-page {
                    .main-panel-page-header {}

                    .main-container {
                        .tab-panel-container {
                            .tab-panel{
                                .page-filter{
                                    .status-list-container{
                                        .status-list{
                                            ul[data-toggle='buttons']{
                                                li{
                                                    a{
                                                        p, h4{
                                                        margin: 0;
                                                        }
                                                        @for $index from 1 through 6 {
                                                          h#{$index}{
                                                            color: $helper;
                                                            text-transform: uppercase;
                                                            font-weight: 600;
                                                          }
                                                        }
                                                        h4{
                                                            font-size: 16px;
                                                        }
                                                        &:hover, &.active, &:focus{
                                                            @for $index from 1 through 6 {
                                                              h#{$index}{
                                                                color: #fff;
                                                              }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .filter-list-container{
                                      .special-users{
                                        list-style-type: none;
                                        flex-flow: column wrap;
                                        padding: 0;
                                        .list-item{
                                          width: 100%;
                                          margin: 0 0 10px 0;
                                          label{
                                            margin: 10px 0 10px 10px;
                                            padding: 0 20px 0 24px;
                                            &:hover{
                                              cursor: pointer;
                                            }
                                          }
                                          &.selected-in-list{
                                            border: 1px solid $selected;
                                          }
                                        }
                                      }
                                    }
                                }
                            }
                        }

                        .main-panel-container {}
                    }
                }
            }
        }
    }
}



/*Edit create quote mission Starts*/



/* Contributors template CSS Ends */
