.homepage-wrap-page {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;

    .leftside-column-container {
        position: relative;
        padding: 0;
        min-height: 100vh;
        background: #FCFDFD;
        box-shadow: 2px 0px 5px 3px #edeff1;

        .leftside-column {
            position: fixed;
            width: 23.5%;
            overflow: hidden;
            min-height: 100%;
            height: 300px;
            background: #FCFDFD;
            z-index: 1;
            overflow-x: hidden;
            padding-top: 15px;
            padding-right: 0;

            .user-container {
                margin-bottom: 10px;
                background: #353f53;
                border-radius: 6px;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                height: 60px;

                .user-image {
                    padding: 0;
                    width: 42px;

                    img {
                        border: 2px solid #fff;
                    }
                }

                .user-details {
                    color: #fff;

                    .user-name {
                        display: block;
                        font-weight: 600;
                    }

                    .user-profile {
                        display: block;
                        font-size: 12px;

                        a {
                            color: #fff;
                            text-decoration: underline;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .planner-container {
                margin-bottom: 0;
                padding-top: 15px;
                padding-bottom: 15px;

                .nothing-plan-container {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 142px;

                    .nothing-planned {
                        text-align: center;

                        .tag-line {
                            font-size: 16px;
                            font-weight: 600;
                            margin-bottom: 10px;
                            color: #9a9fa9;

                            span {
                                display: block;
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }

                        a {
                            width: 141px !important;
                        }
                    }
                }

                .create-event-container {
                    .event-dates {
                        margin-bottom: 15px;

                        .event-date:nth-of-type(1) {
                            padding-right: 5px;
                        }

                        .event-date:last-of-type {
                            padding-left: 5px;
                        }
                    }

                    .event-subject {
                        margin-bottom: 15px;
                    }

                    .create-event {
                        text-align: center;
                    }
                }

                .agenda-header {
                    padding-bottom: 10px;
                    border-bottom: 2px solid #f5f5f6;

                    .agenda-title {
                        font-size: 16px;
                        color: #353f53;
                        font-weight: 600;

                        span {
                            display: block;
                            color: #9a9fa9;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }

                    .agenda-meeting {
                        a {
                            width: 100% !important;
                        }
                    }
                }

                .agenda-container {
                    table {
                        tr {
                            border-bottom: 2px solid #f5f5f6;
                            padding: 10px 0;

                            td {
                                padding: 20px 0;
                                font-size: 14px;
                                vertical-align: top;

                                &.agenda-time {
                                    width: 51.666%;
                                }

                                &.agenda-subject {
                                    width: 58.333%;

                                    ul {
                                        padding: 0;
                                        margin: 0;

                                        li {
                                            margin-bottom: 5px;
                                            font-weight: 600;
                                            color: #353f53;
                                        }
                                    }
                                }
                            }

                            &:last-of-type {
                                border-bottom: 0;

                                td {
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .note-container {
                padding-top: 15px;

                &.not-container-list {
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 66px;
                        left: 0;
                        background: #f5f5f6;
                        width: 100%;
                        height: 2px;
                    }
                }

                .add-note {
                    padding: 0 0 15px 0;

                    textarea {
                        resize: none;
                    }
                }

                .note-list-container {
                    ul {
                        padding: 0;
                        margin: 0;
                        list-style-type: none;

                        li {
                            .note-list {
                                @include clearfix;

                                border-bottom: 2px solid #f5f5f6;
                                display: -webkit-box;
                                display: -moz-box;
                                display: -ms-flexbox;
                                display: -webkit-flex;
                                display: flex;
                                align-items: center;
                                min-height: 75px;

                                .note-check {
                                    .checkbox {
                                        margin: -8px 0 0 0;
                                        padding: 0;
                                    }
                                }

                                .note-subject {
                                    color: #353f53;
                                    font-weight: 500;

                                    &.striked {
                                        text-decoration: line-through;
                                        color: #7d889a;
                                        font-weight: 400;
                                    }
                                }

                                .note-delete {
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: all .3s ease;

                                    a {
                                        cursor: pointer;
                                        color: #DFE1E3;

                                        &:hover {
                                            color: #485262;
                                        }
                                    }
                                }

                                &:last-of-type {
                                    border-bottom: 0;
                                }
                            }

                            &:hover {
                                .note-list {
                                    .note-delete {
                                        visibility: visible;
                                        opacity: 1;
                                        transition: all .3s ease;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .rightside-column-container {
        padding-left: 0;
        padding-top: 15px;
        position: relative;
        min-height: 100%;
        width: 25%;

        .rightside-column {
            position: fixed;
            width: 23.5%;
            overflow: hidden;
            min-height: 100%;
            height: 300px;
            z-index: 1;
            overflow-x: hidden;
            padding: 0;

            .task-pricing-container {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                min-height: 75px;
                margin-bottom: 10px;

                .row {
                    flex: 1;

                    .task-pricing {
                        color: #353f53;

                        span {
                            display: block;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .most-recent-container {
                padding-top: 15px;
                padding-bottom: 15px;
                margin-bottom: 10px;

                .most-recent-list {
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            .client-task-container {
                                border-bottom: 2px solid #f5f5f6;
                                display: -webkit-box;
                                display: -moz-box;
                                display: -ms-flexbox;
                                display: -webkit-flex;
                                display: flex;
                                align-items: center;
                                min-height: 75px;

                                .client-image {
                                    width: 40px;
                                    padding: 0;

                                    img {
                                        max-width: 100%;
                                    }
                                }

                                .task-link {
                                    a {
                                        color: #353f53;
                                        font-weight: 500;
                                        text-decoration: none;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }

                                .go-task {
                                    i {
                                        font-size: 16px;
                                        color: #b1b2be;
                                    }
                                }
                            }

                            &:last-of-type {
                                .client-task-container {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }

            .hot-clients-container {
                padding-top: 15px;
                padding-bottom: 15px;

                .clients-logo-container {
                    margin-top: 10px;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: row wrap;
                    justify-content: flex-start;

                    .hot-client {
                        width: 52px;
                        margin-right: 20px;
                        margin-bottom: 20px;

                        img {
                            max-width: 100%;
                        }

                        &:nth-of-type(4n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .middle-column-container {
        .middle-column {
            padding-top: 15px;

            .status-update-container {
                padding: 15px;
                margin-bottom: 20px;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;

                .user-image {
                    padding: 0;
                }

                .status-update-text {
                    textarea {
                        width: 100%;
                        resize: none;
                        height: 40px;
                        border: 0;
                        padding-top: 11px;
                    }
                }
            }

            .filter-title-flip-container {
                border-top: 2px solid #e9ebee;
                padding-top: 15px;
                margin-bottom: 20px;

                .feed-title-container {
                    .feed-title {
                        font-size: 16px;
                        color: #353f53;
                        font-weight: 600;
                    }

                    a {
                        font-size: 14px;
                        color: #353f53;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .filter-container {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    align-items: center;

                    .chosen-container-multi .chosen-choices {
                        min-height: 40px;
                        height: auto;
                        padding: 7px 15px !important;
                    }

                    .chosen-container-multi .chosen-choices li.search-choice {
                        margin: 0 5px 5px 0;
                        border: 1px solid #353f53;
                        background-color: #353f53;
                    }

                    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
                        position: absolute;
                        top: 7px;
                        right: 5px;
                        display: block;
                        width: 12px;
                        height: 12px !important;
                        background: url(../lib/chosen/chosen-sprite-white.png) -42px -9px no-repeat !important;
                        font-size: 1px;
                    }

                    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
                        background-position: -42px -9px;
                    }

                    button {
                        width: 170px !important;
                        margin-left: 10px;
                    }
                }
            }

            .feeds-main-container {
                .feeds-container {
                    padding: 15px;
                    margin-bottom: 10px;

                    .feeds-header {
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        .profile-image {
                            width: 40px;
                            padding: 0;

                            img {
                                display: block;
                                max-width: 100%;
                            }
                        }

                        .profile-name {
                            color: #353f53;
                            font-weight: 600;
                            font-size: 16px;

                            span {
                                display: block;
                                font-size: 14px;
                                font-weight: 400;
                                color: #7d889a;
                            }
                        }

                        .feed-nav {
                            padding: 0;
                            text-align: right;

                            a {
                                color: #d7d9dc;
                            }
                        }
                    }

                    .feeds-comments-container {
                        .comments-section {
                            .user-image {
                                width: 40px;
                                padding: 0;

                                img {
                                    display: block;
                                    max-width: 100%;
                                }
                            }
                        }
                    }

                    .feeds-comments-container {
                        background: #f7f9fa;
                        border-radius: 4px;
                        padding: 15px 0 15px 15px;
                        height: 180px;

                        ul {
                            padding: 0;
                            margin: 0;
                            list-style-type: none;

                            li {
                                @include clearfix;

                                margin-bottom: 15px;
                                border-bottom: 2px solid #edeff1;
                                padding-bottom: 15px;

                                .comments-section {
                                    .comment-container {
                                        .user-name {
                                            color: #353f53;
                                            font-weight: 600;
                                        }

                                        .comment {
                                            span.hashTag, span.atMention {
                                                color: #447DF7;
                                                text-decoration: underline;
                                            }
                                        }
                                    }

                                    .comment-date {
                                        font-size: 12px;
                                        padding-right: 0;
                                        text-align: right;
                                    }
                                }

                                &:last-of-type {
                                    border-bottom: 0;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    .reply-link {
                        margin-top: 10px;

                        a {
                            color: #353f53;
                            text-decoration: underline;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.comment-reply-message-modal {
    .message-title {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .message-container {
        .message-profile {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;

            .user-image {
                width: 40px;
                padding: 0;
            }

            .message {
                width: 92.888%;
                padding-right: 0;

                .form-control {
                    border: 0;
                }

                .emoji-picker-icon {
                    right: auto;
                    top: auto;
                    left: -28px;
                    bottom: -60px;
                    color: #d7d9dc;
                }

                .emoji-menu {
                    right: auto;
                    left: -40px;
                    bottom: -290px;
                }
            }
        }
    }

    .send-reply-comment {
        button {
            width: 170px !important;

            .btn-label {
                i {
                    font-size: 20px;
                    position: relative;
                    top: 2px;
                    margin-right: 10px;
                }
            }
        }
    }
}