/* Layout-5 Changes Starts */

.layout-5.wp-app {
    overflow-y: hidden;

    .page-wrap {
        .main-panel-wrap {
            .main-panel {
                .main-panel-page {
                    .main-panel-page-header {
                        position: fixed;
                        width: calc(100% - 80px);
                        padding: 0;
                        background: #fff;
                        height: 78px;
                        -webkit-box-shadow: 0px 5px 5px 0px rgba(197, 197, 197, 0.2);
                        -moz-box-shadow: 0px 5px 5px 0px rgba(197, 197, 197, 0.2);
                        box-shadow: 0px 5px 5px 0px rgba(197, 197, 197, 0.2);
                        z-index: 9;

                        .contract-image {
                            width: 52px;
                            margin: 13px 0 0 20px;
                            padding: 0;

                            .contract-image-container {
                                width: 52px;

                                img {
                                    max-width: 100%;
                                }
                            }
                        }

                        .contract {
                            padding: 0;
                            margin: 17px 0 0 20px;
                            width: 43%;

                            .contract-spec {
                                .contract-breadcrumb {
                                    a {
                                        font-size: 12px;
                                        color: #a2a6b0;
                                        text-decoration: none;
                                    }

                                    i {
                                        position: relative;
                                        top: 4px;
                                        margin: 0 5px;
                                        font-size: 16px;
                                        color: #a2a6b0;
                                    }
                                }

                                .contract-name {
                                    .primary-font {
                                        color: #485262;
                                        font-size: 14px;
                                        margin-left: 10px;
                                        position: relative;
                                        top: 2px;
                                    }
                                }
                            }

                            .nav-button {
                                margin: 10px 0 0 0;

                                a {
                                    color: #d7d9dc;

                                    &:hover, &:focus, &.active {
                                        color: #d7d9dc;
                                    }
                                }

                                .tooltip {
                                    width: 100px;
                                }
                            }
                        }

                        .right {
                            padding: 0;
                            float: right;

                            .end-date-container {
                                padding: 0;

                                a.end-date {
                                    /* width: 211px; */
                                    display: block;
                                    width: 100%;
                                    padding: 20px 0 21px;
                                    text-align: center;
                                    font-size: 14px;
                                    color: #485262;
                                    font-weight: 600;
                                    position: relative;

                                    &:before, &:after {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        background: #f5f5f6;
                                        width: 1px;
                                        height: 78px;
                                    }

                                    &:after {
                                        left: auto;
                                        right: 0;
                                    }

                                    span.title {
                                        font-size: 12px;
                                        display: block;
                                        color: #B0B4BB;
                                        font-weight: 400;
                                    }

                                    span.warning-indicator {
                                        position: absolute;
                                        top: 33px;
                                        left: 30px;

                                        span {
                                            i {
                                                color: #ee0a5f;
                                            }
                                        }
                                    }

                                    span.caret-drop {
                                        position: absolute;
                                        top: 33px;
                                        right: 30px;
                                        color: #a6aab3;
                                    }

                                    &:hover, &:focus, &.active {
                                        background: #FBFBFB;
                                    }
                                }

                                .dropdown-menu {
                                    &:before, &:after {
                                        content: none;
                                        border: none;
                                    }

                                    border-radius: 0;
                                    margin-top: 0;
                                    width: 100%;

                                    li {
                                        a {
                                            padding-top: 4px;
                                            margin-top: 0;
                                            color: #485262;

                                            i {
                                                position: relative;
                                                top: 7px;
                                            }

                                            &:hover {
                                                color: #fff;
                                                background: #448AFF;
                                            }
                                        }
                                    }
                                }
                            }

                            .mission-validate {
                                /* width: 211px; */
                                padding: 20px 0 21px;
                                text-align: center;
                                font-size: 14px;
                                color: #B0B4BB;
                                font-weight: 600;

                                span.title {
                                    font-size: 12px;
                                    display: block;
                                    color: #B0B4BB;
                                    font-weight: 400;
                                }

                                span.mission {
                                    color: #485262;

                                    small {
                                        font-size: 11px;
                                        position: relative;
                                        top: -1.5px;
                                    }
                                }
                            }

                            a.validate {
                                /* width: 210px; */
                                text-align: center;
                                padding: 30px 0 31px;
                                font-size: 14px;
                                font-weight: 600;
                                color: #fff;
                            }
                        }
                    }

                    .main-container {
                        .overlay-main-container {
                            width: calc(100% - 80px);
                        }

                        .toggle-panel-container {
                            position: fixed;
                            bottom: 30px;
                            height: 40px;
                            width: 40px;
                            background: #353f53;
                            left: calc(33.33% + 54px);
                            z-index: 1;
                            border-radius: 0 25px 25px 0;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: flex-end;
                            padding-right: 10px;
                            transition: all .3s ease;
                            opacity: 0.5;

                            &.toggled {
                                left: 80px;
                            }

                            &:hover {
                                cursor: pointer;
                                opacity: 1;
                            }

                            a {
                                display: flex;
                                color: #ffffff;
                                font-weight: bold;
                            }
                        }

                        .job-cards-filter {
                            position: absolute;
                            bottom: calc(80px + 30px);
                            left: calc(50% - 135px);
                            z-index: 2;
                            background: #ffffff;

                            // overflow: hidden;
                            border-radius: 22px;
                            color: #fff;
                            border: 2px #eaebed solid;
                            box-shadow: 1px 0px 5px 3px rgba(197, 197, 197, 0.15);
                            height: 40px;
                            display: flex;
                            align-items: center;

                            &:hover {}

                            .cards-filter-dropdown {
                                width: 400px;
                                padding: 15px;
                                left: -50%;

                                &:before, &:after {
                                    left: 50%;
                                }

                                .date-filter div {
                                    padding: 0 10px 0 0;

                                    &:last-child {
                                        padding: 0;
                                    }

                                    .form-control {
                                        border: 1px solid #e3e3e3;
                                        border-radius: 4px;
                                    }

                                    i {
                                        color: #b2b4c0;
                                    }
                                }

                                .cards-type-filter {
                                    display: flex;
                                    justify-content: space-between;

                                    label {
                                        display: inline-block;
                                        margin: 10px 0;
                                    }
                                }
                            }

                            .btn {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: none;
                                padding: 0 10px;
                                height: 40px;
                                color: #353f53;

                                i {
                                    font-size: 20px;
                                }

                                span {
                                    display: inline-block;
                                    margin-left: 5px;
                                    font-size: 12px;
                                    text-decoration: underline;
                                    font-weight: 400;
                                }

                                &.cards-filter-prev {
                                    border-right: 2px solid #eaebed;
                                }

                                &.cards-filter-next {
                                    border-left: 2px solid #eaebed;
                                }

                                &.cards-filter-dropup {
                                    width: 185px;
                                }
                            }
                        }

                        .tab-panel-container {
                            width: 33.333%;
                            transition: all .3s ease;

                            &.toggled {
                                margin-left: -33.33%;
                            }

                            .tab-panel {
                                width: 100%;
                                transition: all .3s ease;
                                position: inherit;

                                .navbar-default {
                                    .page-title {
                                        margin-bottom: 20px;

                                        a.navbar-brand {
                                            width: 100%;
                                            display: block;
                                        }

                                        .title-span {
                                            color: #a2a7b0;
                                            font-size: 12px;

                                            span {
                                                font-weight: 600;
                                            }
                                        }
                                    }

                                    .page-title-language {
                                        padding: 0;
                                        margin-top: 15px;
                                        border: 2px solid #ddd;
                                        border-radius: 6px;
                                        width: 146px;
                                        height: 50px;
                                        display: -webkit-box;
                                        display: -moz-box;
                                        display: -ms-flexbox;
                                        display: -webkit-flex;
                                        display: flex;
                                        -webkit-flex-flow: row wrap;
                                        align-items: center;

                                        .flag-box {
                                            -webkit-align-content: center;
                                            align-content: center;
                                            width: 80px;
                                            margin: 0 auto;

                                            .flag {
                                                text-align: center;
                                                padding: 0;

                                                span {
                                                    display: block;
                                                    font-size: 12px;
                                                    color: #354052;
                                                    text-transform: uppercase;
                                                }
                                            }

                                            i {
                                                position: relative;
                                                top: 3px;
                                                color: #d9dbde;
                                                margin: 0 10px;
                                                font-size: 16px;
                                                padding: 0;
                                                text-align: center;
                                            }
                                        }
                                    }

                                    .page-title-language.single {
                                        width: 80px;

                                        .flag-box {
                                            width: 100%;

                                            .flag {
                                                width: 100%;
                                            }
                                        }
                                    }

                                    .tab-step {
                                        .tab-step-content {
                                            ul {
                                                li {
                                                    margin: 0 10px 0 0;
                                                }
                                            }

                                            .tab-content-progress {
                                                padding: 0 15px;

                                                .tab-pane {
                                                    .assignment {
                                                        padding-bottom: 300px;

                                                        .assignment-bidding-rules {
                                                            height: 100px;
                                                            margin-bottom: 20px;
                                                            display: -webkit-box;
                                                            display: -moz-box;
                                                            display: -ms-flexbox;
                                                            display: -webkit-flex;
                                                            display: flex;
                                                            -webkit-flex-flow: row wrap;
                                                            justify-content: space-around;
                                                            align-items: center;

                                                            .bidding-elements {
                                                                text-align: center;
                                                                padding: 0;

                                                                .header {
                                                                    padding: 0;
                                                                    font-size: 14px;
                                                                    color: #9a9fa9;
                                                                    font-weight: 400;
                                                                }

                                                                .numbers {
                                                                    font-size: 16px;
                                                                    font-weight: 600;
                                                                    color: #353f53;
                                                                }

                                                                .tag {
                                                                    font-size: 12px;
                                                                    color: #9a9fa9;
                                                                }

                                                                .right-arrow {
                                                                    position: absolute;
                                                                    top: 34%;
                                                                    right: -8px;

                                                                    i {
                                                                        color: #d9dbde;
                                                                        font-size: 16px;
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        .assignment-tempo-container {
                                                            padding: 15px;

                                                            // height: 72px;
                                                            margin-bottom: 20px;
                                                            display: -webkit-box;
                                                            display: -moz-box;
                                                            display: -ms-flexbox;
                                                            display: -webkit-flex;
                                                            display: flex;
                                                            -webkit-flex-flow: row wrap;
                                                            justify-content: space-around;
                                                            align-items: center;

                                                            .tempo-desc {
                                                                width: 31%;
                                                                color: #448AFF;
                                                                font-size: 12px;
                                                                font-weight: 600;
                                                                margin-right: 12px;
                                                                padding: 10px 10px 10px 30px;
                                                                position: relative;

                                                                &:before {
                                                                    content: "";
                                                                    position: absolute;
                                                                    top: 9px;
                                                                    right: 0;
                                                                    background: #f7f9fa;
                                                                    width: 2px;
                                                                    height: 22px;
                                                                }

                                                                span {
                                                                    position: absolute;
                                                                    top: 9px;
                                                                    left: 0;
                                                                }
                                                            }

                                                            .tempo-desc.extended {
                                                                i {
                                                                    font-size: 16px;
                                                                    font-weight: bold;
                                                                }

                                                                display: block;
                                                            }

                                                            .tempo-desc.small {
                                                                display: none;
                                                            }

                                                            .tempo-desc.items {
                                                                background: #f7f9fa;
                                                                color: #353f53;
                                                                text-align: center;
                                                                padding: 10px;
                                                                border: none;

                                                                &:before {
                                                                    background: none;
                                                                }
                                                            }

                                                            .tempo-desc:nth-last-of-type(1) {
                                                                margin-right: 0;
                                                            }
                                                        }
                                                    }

                                                    .announce {
                                                        padding-bottom: 300px;

                                                        .announce-container {
                                                            .announce-creation {
                                                                .create-announce, .create-announce-image {
                                                                    padding: 20px;
                                                                    margin-bottom: 17px;

                                                                    #upload-announce-image {
                                                                        display: none;
                                                                    }

                                                                    a {
                                                                        color: #448AFF;
                                                                        text-decoration: underline;

                                                                        &:hover {
                                                                            text-decoration: none;
                                                                        }
                                                                    }
                                                                }
                                                            }

                                                            .announce-visibility {
                                                                padding: 25px 20px 18px 20px;
                                                                margin-bottom: 17px;

                                                                .switch-visiblity {
                                                                    padding: 0;
                                                                    margin-right: 10px;
                                                                }

                                                                .publish-visiblity {
                                                                    padding: 5px 0 0 0;
                                                                    color: #353f53;
                                                                    font-size: 14px;
                                                                    font-weight: 600;

                                                                    span.yes {
                                                                        color: #448AFF;
                                                                    }
                                                                }

                                                                .tag-visibility {
                                                                    padding: 8px 0 0 0;
                                                                    text-align: right;
                                                                    color: #9ea3ad;
                                                                    font-size: 12px;
                                                                    font-weight: 400;

                                                                    span {
                                                                        color: #353f53;
                                                                        font-weight: 600;
                                                                    }
                                                                }
                                                            }

                                                            .announce-display {
                                                                .announcement {
                                                                    padding: 30px 20px;
                                                                    margin-bottom: 17px;
                                                                    position: relative;

                                                                    .edit {
                                                                        visibility: hidden;
                                                                        opacity: 0;
                                                                        transition: all .3s ease;
                                                                        position: absolute;
                                                                        right: 20px;
                                                                        top: 25px;
                                                                        z-index: 9;

                                                                        a {
                                                                            font-size: 14px;
                                                                            color: #448AFF;
                                                                            text-decoration: none;

                                                                            &:hover {
                                                                                text-decoration: underline;
                                                                            }
                                                                        }
                                                                    }

                                                                    .announcement-show {
                                                                        .announce-title {
                                                                            padding: 0;
                                                                            margin: 0;
                                                                            color: #353f53;
                                                                            font-size: 14px;
                                                                            font-weight: 600;
                                                                        }

                                                                        .announce-overview {
                                                                            color: #9ea3ad;
                                                                            font-size: 14px;

                                                                            p {
                                                                                color: #9ea3ad;
                                                                                font-size: 14px;
                                                                            }
                                                                        }

                                                                        a.preview {
                                                                            width: 216px;
                                                                            position: absolute;
                                                                            right: 20px;
                                                                            bottom: 6px;
                                                                        }
                                                                    }

                                                                    &:hover {
                                                                        .edit {
                                                                            visibility: visible;
                                                                            opacity: 1;
                                                                            transition: all .3s ease;
                                                                        }
                                                                    }
                                                                }

                                                                .announce-image {
                                                                    padding: 20px 20px 15px 20px;
                                                                    display: flex;
                                                                    align-items: center;

                                                                    .image-container {
                                                                        padding: 0 30px 0 0;
                                                                        display: -webkit-box;
                                                                        display: -moz-box;
                                                                        display: -ms-flexbox;
                                                                        display: -webkit-flex;
                                                                        display: flex;
                                                                        -webkit-flex-flow: row wrap;
                                                                        align-items: center;
                                                                        height: 100%;
                                                                        align-content: flex-start;

                                                                        img {
                                                                            display: block;
                                                                            max-width: 100%;
                                                                            height: auto;
                                                                            max-height: 152px;
                                                                        }
                                                                    }

                                                                    .image-desc-container {
                                                                        padding: 0;

                                                                        .image-description {
                                                                            display: -webkit-box;
                                                                            display: -moz-box;
                                                                            display: -ms-flexbox;
                                                                            display: -webkit-flex;
                                                                            display: flex;
                                                                            -webkit-flex-flow: row wrap;
                                                                            align-items: center;
                                                                            height: 152px;
                                                                            align-content: flex-start;

                                                                            .description {
                                                                                span {
                                                                                    display: block;
                                                                                    color: #9ba0aa;
                                                                                    margin-bottom: 10px;
                                                                                }

                                                                                .image-action {
                                                                                    a {
                                                                                        margin-right: 20px;
                                                                                        text-decoration: underline;

                                                                                        &:hover {
                                                                                            text-decoration: none;
                                                                                        }
                                                                                    }

                                                                                    a.replace {
                                                                                        color: #353f53;
                                                                                    }

                                                                                    a.remove {
                                                                                        color: #EE0A5F;
                                                                                        padding-left: 15px;
                                                                                        position: relative;

                                                                                        &:before {
                                                                                            content: "\E5CD";
                                                                                            font-family: "Material Icons";
                                                                                            position: absolute;
                                                                                            top: -1px;
                                                                                            left: 0;
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }

                                                    .related-files {
                                                        padding-bottom: 300px;

                                                        .related-files-filter-search {
                                                            padding: 0;
                                                        }

                                                        .related-files-stack {
                                                            .droppable {
                                                                padding: 10px;
                                                                text-align: center;
                                                            }

                                                            ul {
                                                                li {
                                                                    margin: 0 0 10px 0;
                                                                }

                                                                li.add-file {
                                                                    margin-top: 20px;
                                                                }
                                                            }
                                                        }
                                                    }

                                                    .stakeholders {
                                                        padding-bottom: 300px;

                                                        .stakeholders-list {
                                                            padding: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        /* .tab-panel-container.left{
                          width: 33.333%!important;
                          transition: all .3s ease;
                          .tab-panel{
                            width: 31.6%!important;
                            transition: all .3s ease;
                              .navbar-default{
                              .tab-step{
                                .tab-step-content{
                                  ul{
                                    li{
                                      margin: 0 8px 0 0;
                                    }
                                  }
                                  .tab-content{
                                    .tab-pane{
                                      .assignment{
                                        .assignment-bidding-rules{
                                          .bidding-elements{
                                            .numbers{
                                              font-size: 15px
                                            }
                                            .right-arrow{
                                              right: -6px;
                                            }
                                          }
                                        }
                                        .assignment-tempo-container{
                                          justify-content: flex-start;
                                          .tempo-desc{
                                            width: 25px;
                                            padding: 0;
                                            position: relative;
                                            &:before{
                                              background: none;
                                            }
                                            span{
                                              top: -10px;
                                            }
                                          }
                                          .tempo-desc.extended{
                                            display: none;
                                          }
                                          .tempo-desc.small{
                                            display: block;
                                          }
                                          .tempo-desc.items{
                                            width: 43%;
                                            background: #f7f9fa;
                                            color: #353f53;
                                            text-align: center;
                                            padding: 10px;
                                            border: none;
                                            &:before{
                                              background: none;
                                            }
                                          }
                                          .tempo-desc:nth-last-of-type(1){
                                            margin-right: 0;
                                          }
                                        }
                                      }
                                      .announce{
                                        padding-bottom: 300px;
                                        .announce-container{
                                          .announce-visibility{
                                            padding: 25px 20px 18px 20px;
                                            margin-bottom: 17px;
                                            .switch-visiblity{
                                              margin-right: 0;
                                              width: 100%;
                                            }
                                            .tag-visibility{
                                              position: absolute;
                                              right: 20px;
                                              top: 35px;
                                              span{
                                                color: #353f53;
                                                font-weight: 600;
                                              }
                                            }
                                          }
                                          .announce-display{
                                            .announcement{
                                              .announcement-show{
                                                .announce-overview{
                                                  .morelink{
                                                    width: 100%;
                                                  }
                                                }
                                                a.preview{
                                                  right: auto;
                                                  bottom: auto;
                                                  position: static;
                                                  margin: 20px auto 0;
                                                  display: block;
                                                }
                                              }
                                            }
                                            .announce-image{
                                              padding: 20px;
                                              .image-container{
                                                width: 100%;
                                                text-align: center;
                                                img{
                                                  max-width: auto;
                                                  max-height: 152px;
                                                }
                                              }
                                              .image-desc-container{
                                                padding: 0;
                                                width: 100%;
                                                .image-description{
                                                  width: 100%;
                                                  height: 100px;
                                                  justify-content: center;
                                                  .description{
                                                    strong{

                                                    }
                                                    span{
                                                      display: block;
                                                      color: #9ba0aa;
                                                      margin-bottom: 10px;
                                                    }
                                                    .image-action{
                                                      a{
                                                        margin-right: 20px;
                                                        text-decoration: underline;
                                                        &:hover{
                                                          text-decoration: none;
                                                        }
                                                      }
                                                      a.replace{
                                                        color: #353f53;
                                                      }
                                                      a.remove{
                                                        color: #EE0A5F;
                                                        padding-left: 15px;
                                                        position: relative;
                                                        &:before{
                                                          content: "\E5CD";
                                                          font-family: "Material Icons";
                                                          position: absolute;
                                                          top: -1px;
                                                          left: 0;
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                      .related-files{
                                        .related-files-stack{
                                          ul{
                                            li{
                                              margin: 0;
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        } */
                        .main-panel-container {
                            position: relative;
                            display: flex;
                            -webkit-box-flex: 1;
                            -webkit-flex-grow: 1;
                            -ms-flex-positive: 1;
                            flex-grow: 1;
                            overflow-y: hidden;

                            .toggle-panel-container {
                                position: fixed;
                                bottom: 30px;
                                height: 40px;
                                width: 40px;
                                background: #353f53;
                                left: 80px;
                                z-index: 1;
                                border-radius: 0 25px 25px 0;
                                display: flex;
                                align-items: center;
                                text-align: center;
                                justify-content: flex-end;
                                padding-right: 10px;

                                &:hover {
                                    cursor: pointer;
                                }

                                a {
                                    display: flex;
                                    color: #ffffff;
                                    font-weight: bold;
                                }
                            }

                            .content {
                                padding: 0;

                                /* .card-container{
                                  >ul{
                                    white-space: nowrap;
                                    margin-bottom: 10px;
                                    overflow-x: auto;
                                    overflow-y: hidden;
                                    padding: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    height: calc(100vh - 96px);
                                    li.decks{
                                      width: 400px;
                                      margin: 0 -4px 0 0;
                                      padding: 15px;
                                      height: 100%;
                                      box-sizing: border-box;
                                      display: inline-block;
                                      vertical-align: top;
                                      white-space: nowrap;
                                      overflow-y: scroll;
                                      .card-wrap{
                                        padding: 15px;
                                        margin-bottom: 10px;
                                        box-sizing: border-box;
                                        -webkit-flex-direction: column;
                                        -ms-flex-direction: column;
                                        flex-direction: column;
                                        display: flex;
                                        position: relative;
                                        white-space: normal;
                                        overflow-y: auto;
                                      }
                                    }
                                    li.decks:nth-child(even){
                                      background: #edeff1;
                                    }
                                  }
                                } */
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Layout-5 Changes Ends */