.offers-list-page {
    .main-container {
        .main-panel-container {
            .content {
                .tab-content {
                    .main-panel-header {
                        .page-status {
                            text-align: left !important;
                        }

                        .sort-offers {
                            margin-top: 22px;
                        }
                    }

                    .card-section-list {
                        ul {
                            li {
                                .card-mission {
                                    .list-head-container {
                                        width: 47%;
                                        padding-right: 0;
                                    }

                                    @-moz-document url-prefix() {
                                        .list-head-container {
                                            width: 46%;
                                        }
                                    }
                                }

                                .card {
                                    .task-price {
                                        width: 336px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .no-data-container {
                .create {
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}

/* Offers Job Create Starts */

.create-offer-job-modal {
    .modal-title {
        font-size: 20px;
        color: #353f53;
        font-weight: 600;
        margin-bottom: 10px;
        padding: 0;
    }
}

/* Offers Job Create Ends */
