/* Quizz and Surveys template CSS Starts */
.layout-3.wp-app {
  .page-wrap {
    .main-panel-wrap {
      .main-panel {
        .main-panel-page {
          .main-panel-page-header {}

          .main-container {
          	&.quizz-surveys-list-page{
	            .tab-panel-container {

	            }

	            .main-panel-container {
	            	.no-data-container{
	            		.no-data-placeholder{
	            			a.create{
	            				min-width: 230px;
	            			}
	            		}
	            	}
	              .content {
	                .tab-content-container {
	                  .contract-content-container {
	                    .card-section-list {
	                      ul {
	                        li {
	                          @include clearfix;
	                        }
	                      }

	                      .card-contract {
	                        height: auto;
	                        display: -webkit-flex;
	                        display: -moz-flex;
	                        display: -ms-flex;
	                        display: -o-flex;
	                        display: flex;

	                        .language-container {
	                          margin: 0 0 0 15px;
	                          padding: 0;
	                          width: auto;
	                          .language-to{
	                          	@extend %language-breadcrum;
	                          }
	                        }

	                      }
	                    }
	                  }
	                }
	              }
	            }

          	}
          }
        }
      }
    }
  }
}

/* Modal styles Starts */
.quizz-surveys-creation-modal{
/* 	.activation-border {
  @include clearfix;
	border: none;

  .activation-container {
    padding: 5px 0px;

    .activation-statement {
      font-weight: 600;
      color: #353F53;
      line-height: 0;
      padding-left: 0;
    }
  }
} */
}

/* Modal styles Ends */


/* Quizz and Surveys template CSS Ends */
