/* Quote list template CSS Starts */
.layout-3.wp-app.quotes-list {
  .page-wrap{
		.main-panel-wrap{
			.main-panel{
				.main-panel-page{
					.main-panel-page-header{

					}
					.main-container{
						.tab-panel-container{

						}
						.main-panel-container{
							.card-section-list{
								ul{
									li{
										.add-card{
											/* @extend %add-button;
											margin-bottom: 10px; */
										}
									}
								}
							}
						}
					}
				}
			}
		}
  }
/* Modal styles */
	.create-new-quote-modal{
		@extend %modal;
		.activation{
			margin-bottom: 0;
		}
		.targeted-websites{
			@include clearfix;
			list-style-type: none;
			padding: 0;
			margin: 0;
			.list-item{
				padding: 10px;
				width: calc(50% - 10px);
				margin: 0 10px 10px 0;
				label{
					margin: 0;
					text-transform: lowercase;
				}
				&:nth-of-type(2n){
					margin-right: 0;
				}
			}
		}
	}
/* Modal styles ends*/
}



/* Quote list template CSS Ends */