// Sourcing Candidate List

.sourcing-candidate-list-page {
  .main-panel-page-header {
    position: fixed;
    width: calc(100% - 80px);
    padding: 0;
    background: #fff;
    height: 78px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(197, 197, 197, 0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(197, 197, 197, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(197, 197, 197, 0.2);
    z-index: 9;

    .contract-image {
      width: 52px;
      margin: 13px 0 0 20px;
      padding: 0;

      .contract-image-container {
        width: 52px;

        img {
          max-width: 100%;
          width: 52px;
          height: 52px;
          object-fit: cover;
        }

        .card-user-empty {
          height: 52px;
        }
      }
    }

    .contract {
      padding: 0;
      margin: 17px 0 0 20px;
      width: 43%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;

      .contract-spec {
        flex-grow: 1;

        .contract-breadcrumb {
          a {
            font-size: 12px;
            color: #a2a6b0;
            text-decoration: none;
          }

          i {
            position: relative;
            top: 4px;
            margin: 0 5px;
            font-size: 16px;
            color: #a2a6b0;
          }
        }

        .contract-name {
          .primary-font {
            color: #485262;
            font-size: 14px;
            margin-left: 10px;
            position: relative;
            top: 2px;
          }
        }
      }

      .nav-button {
        margin: 10px 0 0 0;

        a {
          color: #d7d9dc;

          &:hover, &:focus, &.active {
            color: #d7d9dc;
          }
        }

        .tooltip {
          width: 100px;
        }
      }
    }

    .right {
      padding: 0;
      float: right;

      .end-date-container, .mission-validate {
        padding: 0 !important;

        a.end-date {
          /* width: 211px; */
          display: block;
          width: 100%;
          padding: 20px 0 21px;
          text-align: center;
          font-size: 14px;
          color: #485262;
          font-weight: 600;
          position: relative;

          &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: #f5f5f6;
            width: 1px;
            height: 78px;
          }

          &:after {
            left: auto;
            right: 0;
          }

          span.title {
            font-size: 12px;
            display: block;
            color: #B0B4BB;
            font-weight: 400;
          }

          span.warning-indicator {
            position: absolute;
            top: 33px;
            left: 30px;

            span {
              i {
                color: #ee0a5f;
              }
            }
          }

          span.caret-drop {
            position: absolute;
            top: 33px;
            right: 30px;
            color: #a6aab3;
          }

          &:hover, &:focus, &.active {
            background: #FBFBFB;
          }
        }

        .dropdown-menu {
          &:before, &:after {
            content: none;
            border: none;
          }

          border-radius: 0;
          margin-top: 0;
          width: 100%;

          li {
            a {
              padding: 20px 0 21px;
              margin-top: 0;
              color: #485262;

              i {
                position: relative;
              }

              &:hover {
                color: #fff;
                background: #448AFF;
              }
            }

            &:last-child a {
              margin-bottom: 0;
            }
          }
        }
      }

      .end-date-container, .mission-validate {
        /* width: 211px; */
        // padding: 20px 0 21px;
        text-align: center;
        font-size: 14px;
        color: #B0B4BB;
        font-weight: 600;

        ul.dropdown-menu {
          li {
            a {
              display: block !important;
              text-align: center;
              font-weight: 600;
              padding: 20px 0 21px !important;

              .title, .helper-text {}

              &:hover {
                color: #fff;

                .title, .helper-text {
                  color: #fff !important;
                }
              }
            }
          }
        }

        a.end-date {
          &:before, &:after {
            background: none;
            width: 1px;
            height: 78px;
          }

          &:after {
            left: auto;
            right: 0;
          }

          span.caret-drop {
            top: 34px;
            right: 60px;
          }
        }

        span.title {
          font-size: 12px;
          display: block;
          color: #B0B4BB;
          font-weight: 400;
        }

        span.mission {
          color: #485262;

          small {
            font-size: 11px;
            position: relative;
            top: -1.5px;
          }
        }
      }

      a.validate {
        /* width: 210px; */
        text-align: center;
        padding: 30px 0 31px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
      }
    }
  }

  .linked-teamlist {
    padding: 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        list-style-type: none;
        padding: 15px 20px;
        color: #354052;
        font-weight: 600;
        border-bottom: 1px solid #eaebed;

        a {
          color: #354052;
          font-weight: 600;
          border-bottom: 1px solid #eaebed;
        }

        &.create-link {
          border-bottom: 0;
          background: transparent;

          a {
            color: #448AFF;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .content {
    .tab-content {
      .main-panel-header {
        height: auto !important;

        .header-top-panel {
          .select-all-container, .project-planner {
            margin-top: 0;
          }
        }

        .validate {
          margin-top: 0;

          button {
            float: left !important;
          }
        }
      }
    }

    .define-mission-container {
      height: 100px;
    }

    .card-section-list-headers {
      .header-title {
        width: 43.666%;

        h4.title {
          color: #485262;
          font-size: 16px;
          font-weight: 700;
          padding: 0;
          margin: 0;
          line-height: 1;
        }
      }

      .right-column {
        float: right;
        width: 455px;

        .numbers {
          width: 98px;
          text-transform: uppercase;
          text-align: center;
          font-size: 12px;
        }
      }

      &.availability-row {
        .header-title {
          width: 32.666%;
        }

        .right-column {
          width: 545px;
        }
      }
    }

    .card-section-list {
      ul {
        li {
          .card-contract {
            .list-image-container {
              position: relative;
              margin-right: 0;

              span.pin {
                position: absolute;
                right: 18px;
                z-index: 1;

                &:before {
                  content: '';
                  position: absolute;
                  top: -1px;
                  left: 1px;
                  width: 22px;
                  height: 22px;
                  background: #447DF7;
                  -moz-border-radius: 50%;
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                }

                i {
                  color: #fff;
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -o-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
              }
            }

            .list-head-container {
              margin-top: 0;
              width: 32%;

              .header {
                line-height: 1.2;

                .status-label {
                  line-height: 1.5;

                  span.paid {
                    > .fa-database {
                      position: relative;
                      top: -3px;
                      width: 10px;
                      font-size: 10px;

                      > i {
                        position: absolute;
                        left: 0;
                        width: 12px;
                        top: 4px;
                        font-size: 10px;
                        background: white;
                      }
                    }
                  }
                }
              }
            }

            .task-price {
              width: 420px;

              .numbers, .numbers a {
                font-weight: 700;

                span {
                  font-weight: 400;
                }

                i {
                  position: relative;
                  top: 5px;
                  line-height: 0;
                  font-size: 16px;
                  font-weight: 700;
                }

                &:before, &:after {
                  background: 000;
                }

                &.done, &.done a {
                  color: $selected;

                  span {
                    color: $selected;
                  }
                }

                &.process, &.process a {
                  color: $main;

                  span {
                    color: $main;
                  }
                }

                &.reject, &.reject a, &.failed, &.failed a, &.declined, &.declined a {
                  color: $delete;

                  span {
                    color: $delete;
                  }
                }

                i.star-rate {
                  position: relative;
                  top: 3.5px;
                  font-size: 18px;
                  color: #FEC500;
                }

                &.bidding {
                  .bidding-data {
                    background: #f3f5f7;
                    color: $main;
                    font-weight: 600;
                    padding: 7px 12px;
                    margin-top: -7px;

                    span {
                      color: #cdd0d5;
                    }
                  }
                }

                &.more-options {
                  width: 20px;
                  padding: 5px 0 0 0;

                  a.card-more-options {
                    color: #d7d9dc;

                    &:hover, &:focus {
                      color: #353f53;
                    }
                  }

                  .dropdown-menu {
                    right: -15px;

                    &:before, &:after {
                      left: auto;
                      right: 12px;
                    }

                    li {
                      a {
                        color: #9fa4ad;
                      }

                      &.confirm {
                        a {
                          color: #353f53;
                        }
                      }

                      &.delete {
                        a {
                          color: #EE0A5F;
                        }
                      }
                    }
                  }
                }

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      &.availability-row {
        ul {
          li {
            .card-contract {
              .list-head-container {
                width: 23%;
                padding-right: 0;
              }

              .task-price {
                width: 512px;

                .numbers {
                  &.available, &.available a {
                    color: $main;

                    span {
                      color: $main;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.availability-popover {
  position: relative;
  top: 5px;
}

.export-button {
  .btn.btn-drop {
    border: 1px solid #ddd;
    background: transparent;
    color: $helper;
    text-align: left;
    position: relative;

    &:before {
      content: 'more_vert';
      font-family: 'Material Icons';
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 24px;
      color: $helper;
    }

    &:hover {
      background: $highlight-02;
    }
  }

  ul.dropdown-menu {
    width: 100%;

    &:before, &:after {
      content: none;
      border: none;
    }
  }
}

/*Modal styles*/
.pay-article-modal {
  .modal-title {
    font-size: 20px;
    color: $main;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .candidate-info {
    background: $highlight-01;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background: $border-color;
      left: 50%;
      top: 0;
    }

    title {
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-size: 12px;
      color: #7d889a;
      padding: 0 15px;
    }

    .image-container {
      width: 60px;
      margin: 0 0 0 5px;

      .list-image {
        @extend .df-ac;

        width: 60px;
        min-height: 60px;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }
    }

    .head-container {
      margin: 0;

      .header {
        line-height: 1.2;
        padding: 0;

        .status-label {
          span.dates {
            color: #B0B4BB;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .rating {
      padding: 20px 25px;

      span {
        margin-left: 5px;
        background: $main;
        border-radius: 6px;
        color: #fff;
        font-weight: 400;
        text-align: center;
        padding: 3px 15px 5px;

        i {
          position: relative;
          top: 2px;
          font-size: 14px;
          color: #fec500;
        }
      }
    }
  }

  .user-container {
    padding: 15px 30px;

    .user-image {
      width: 40px;
      padding: 0;
      margin-left: 15px;

      img {
        max-width: 100%;
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }

    .user-desc {
      color: $main;

      span.sub {
        display: block;
        color: $highlight-06;
        font-size: 12px;
      }
    }

    .user-comment {
      margin-top: 15px;
      color: $helper;
    }
  }
}

.send-test-article-modal {
  @extend .disapprove-modal;

  .send-message-display {
    a.edit-message {
      color: $body;

      &:hover {
        u {
          text-decoration: none;
        }
      }

      i {
        font-size: 20px;
        margin-left: 5px;
      }
    }

    .message-container {
      border-radius: 4px;

      p {
        padding: 0;
        margin-bottom: 10px;
        font-size: 14px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

/*Modal styles ends*/
