/* font Colors */

$body: #7d889a;
$main: #353F53;
$sub-heading: #485262;
$helper : #B0B4BB;
$selected: #448aff;
$active: $selected;
$border-color: #D7D9DC;
$cta-icons: #dfe1e3;


/* Background-colors */

$default-bg: #fec500;
$tab-panel-bg: #fcfdfd;
$default-bg-hover: #cea000;
$ongoning-bg: #11BFE3;
$to-validate: #FFA534;
$validate: #FF6F00;
$closed: #78b414;
$delete: #ee0a5f;
$delete-hover: #b70a4a;
$not-started: #9A9FA9;
$paused: $main;
$senior: #FB8C00;
$junior: #3F51B5;
$beginner: #388E3C;
$yes: #69A1FF;
$yes-hover: #447DF7;
$no: #a9a9a9;
$no-hover: $main;
$disapprove: $delete;
$disapprove-hover: #b70a4a;

/* highligh colors */
$highlight-01: #f3f5f7;
$highlight-02: #dfe2e5;
$highlight-03: #f7f9fa;


/* dividers */
$divider: #f5f5f6;

