/* font Colors */

$main: #353F53;
$sub-heading: #485262;
$helper : #B0B4BB;
$selected: #448aff;
$active: $selected;
$border-color: #D7D9DC;


/* Background-colors */

$default-bg: #fec500;
$ongoning-bg: #11BFE3;
$to-validate: #FFA534;
$validate: #FF6F00;
$closed: #78b414;
$delete: #ee0a5f;
$not-started: #9A9FA9;
$paused: $main;
$senior: #FB8C00;
$junior: #3F51B5;
$beginner: #388E3C;
